<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Movies</title>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
      defer
    ></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <script src="/javascripts/delete.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="bg-dark">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-around"
              style="width: 100%; font-size: larger"
            >
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Menu</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle active"
                  id="navbarDropdownMenuLink"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Movies
                </a>

                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item active" href="/movies">
                      All Movies
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/movies/add">Add Movie</a>
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdownMenuLink"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Subscriptions
                </a>

                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="/members">All Members</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/members/add">Add Member</a>
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  id="navbarDropdownMenuLink"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Users Management
                </a>

                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="/users">Users</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/users/add">Add User</a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  href="/logout"
                  onclick="confirm(`Are you sure you want to log out?`)"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="text-light col-md-3">Hi, <strong><%= name %></strong></div>
      </div>

      <div class="center">
        <h1>Movies - Subscriptions Web Site</h1>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-3">
                <h2>Movies:</h2>
              </div>

              <div class="col-lg-9">
                <div class="container-fluid">
                  <form
                    class="row"
                    action="/movies"
                    method="get"
                    style="display: flex; justify-content: space-between"
                  >
                    <label class="col-3" for="search">Find Movie:</label>
                    <input
                      class="col-6"
                      type="text"
                      name="search"
                      id="search"
                      value="<%= search %>"
                    />

                    <input
                      class="btn btn-secondary col-2"
                      type="submit"
                      value="Find"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row movies">
          <% movies.forEach(movie => { %>
          <div class="movie col-6 col-lg-4 col-xl-3 col-xxl-2 border">
            <div class="name">
              Name: <%= `${movie.name}, ${(new
              Date(movie.premiered)).getFullYear()}` %>
            </div>

            <div class="genres">Genres: <%= movie.genres.join(", ") %>.</div>

            <div class="img">
              <img
                src="<%= movie.image %>"
                alt="Couldn't load image"
                width="100%"
              />
            </div>

            <div class="subscriptions border">
              Subscriptions watched:
              <ul>
                <% movie.subscriptions?.forEach(subscription => { %>
                <li>
                  <a href="/members/<%= subscription.memberID %>"
                    ><%= subscription.name %></a
                  >
                  , <%= new Date(subscription.watchDate).toJSON().slice(0,10) %>
                </li>
                <% }) %>
              </ul>
            </div>

            <div class="btns">
              <span>
                <a class="btn btn-primary" href="movies/<%=movie._id%>">Edit</a>
              </span>

              <span>
                <a
                  class="btn btn-primary"
                  href=""
                  onclick="deleteThing('<%=movie._id%>', 'movie')"
                >
                  Delete
                </a>
              </span>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
  </body>
</html>
